<!-- <link rel="stylesheet" type="text/css" href="/Bootstrap/css/bootstrap.min.css">

<script type="text/javascript" src="/Bootstrap/js/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="/Bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <!-- jQuery library  -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->


    <!-- Latest compiled and minified JavaScript -->

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->

<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --> -->

<footer>
    <div class="container">

        <center>
            <h5>“Copyright © Lifestyle Store. All Rights
             Reserved” ​and ​“Contact Us: +91 90000 00000</h5>
        </center>
    </div>
</footer>