<div>
    <p>
        Hi <%= product.puser.name %>
    </p>
    <br>
    <p>
        Your product
        <%= product.pname %> has published 
    </p>
    <p>
        Thanks
    </p>
</div>
// populating pengin till now 